{{#each this}}
<p class="intro-text">Currently Reading<br><a href="{{this.url}}" target="_blank"><span class="current-text">{{{this.author}}}: <em>{{{this.title}}}</em></span></a><br><small>({{divide this}}% Done)</small></p>
{{/each}}
