{{#each this}}
<h3 class="finished-book"><a href="{{this.url}}" target="_blank" class="book-url">{{this.author}}: <em>{{this.title}}</em></a></h3>
<div class="row">
  <div class="col-md-4">
    {{#for 0 this.rating}}<i class="fa fa-star"></i>{{/for}}
    <span id="open-rating">{{#for this.rating 5}}<i class="fa fa-star-o"></i>{{/for}}</span>
  </div>
  <div class="col-md-4">
    <center>
      </a>
      {{#if this.quotes}}
      <a href="javascript:void(0)"
         onclick="showModal('{{ escape this.title}}: Quotes', finished_yaml, {{@index}})">Quotes</a>
      {{/if}}
    </center>
  </div>
  <div class="col-md-4">
    <span class="pull-right">
      {{this.finished}}
    </span>
  </div>
</div>
<hr>
{{/each}}
